
div.navbar.navbar-inverse
    div.navbar-inner
        div.container-fluid
            ul#global-nav.nav.pull-left
                a.brand(href="#") Fleet Management System 2013
        
            if (gLogined)               
                button#btn-logout.btn.btn-primary.pull-right
                    i.icon-lock.icon-white 
                    | Sign Out
            else

            