//- div#container(style='background:blue')
//-     div#header
//-         div.row.row-padded
//-             div.span8
//-                 img(src='/images/logo.png',alt='Fleet Management System 2013')
//-             div.span4
//-                 img(src='/images/lock.png',alt='') You are logged in as EasyIT
div.navbar.navbar-inverse
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#")
                | Fleet Management System 2013
                
            //- div.nav-collapse.collapse
            //-     ul.nav
            //-         li.active
            //-             a(href="#")
            //-                 | Home
            //-         li
            //-             a(href="#about")
            //-                 | About
            //-         li
            //-             a(href="#contact")
            //-                 | Contact
            //- div.nav.secondary-nav
            //-         li
            //-             img(src='/images/lock.png',alt='') 
            //-         li
            //-             a(href='#')
            //-                 | You are logged in as EasyIT
