div
	//- div.row
	//- 	div.span6
	//- div.navbar
	div.navbar
		div.navbar-inner
			ul.nav.nav-pills
			
				li.active.dropdown
					a.dropdown-toggle(data-toggle="dropdown", href="#") Dashboard
						b.caret
					ul.dropdown-menu
						li
							a(href="/home") Vehicle Polling Status	
						li
							a(href="/vmd") Vehicel Monitoring Dashboard

				li.divider-vertical
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown", href="#") Master
						b.caret
					ul.dropdown-menu
						li
							a(href="#") Geofence List	
						li
							a(href="#") Assign Vehicle to User
						li.dropdown-submenu
							a(tabindex="-1", href="#") Vehicle Master
							ul.dropdown-menu
								li
									a(href="#") Employees
								li
									a(href="#") Violation Settings

				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown", href="#") Reports
						b.caret
					ul.dropdown-menu
						li.dropdown-submenu
							a(href="#") General
							ul.dropdown-menu
								li
									a(href="#") Idle
								li
									a(href="#") Location
								li
									a(href="#") Journey
					
						li.dropdown-submenu
							a(href="#") Trip Reports
							ul.dropdown-menu
								li
									a(href="#") Dynamic Trip Summary

				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown", href="#") Tracking
						b.caret
					ul.dropdown-menu
						li
							a(href="/maptracking") Tracking On Map	
						li
							a(href="#") Instant Tracking
						li
							a(href="#") Tracking By User
						li.dropdown-submenu
							a(tabindex="-1", href="#") Dynamic Status
							ul.dropdown-menu
								li
									a(href="#") Vehicle Status
								li
									a(href="#") Sensor Status
								li
									a(href="#") Alert Status

								