/* DASHBOARD */
	#dashboard-graph {font-family:'AlternateGothicNo2BT-Regular'; text-shadow:none; }
	.graph-key-event-label {font-family:'AlternateGothicNo2BT-Regular'; padding:2px 2px; cursor:pointer; text-shadow:none; width:15px; text-align:center; background-color:#6BB96E; color:#FFF; font-size:13px; border-radius:3px; font-weight:normal; opacity:0.8;}

	.widget {margin-bottom:16px; box-shadow:0px 1px 1px 0px #D1D1D1; border-radius:7px;}
	.widget-header {position:relative; padding:4px 8px; height:41px; color:#666; text-shadow:0 1px #fff; font-size:13px; border-top-left-radius:7px; border-top-right-radius:7px; border:1px solid #979797; border-bottom:none; box-shadow:inset 0 1px 0 #F4F4F4; background-color:#E2E2E2; background-image: linear-gradient(top, #EAEAEA 30%, #E2E2E2 100%);}
			.widget-header .left {float:left; margin-top:2px; margin-left:2px;}
			.widget-header>.title {font:19px 'Ubuntu'; color:#636363; text-shadow:0 1px #F6F6F6; float:left;}
			.widget-header .left>.title {font:19px 'Ubuntu'; color:#636363; text-shadow:0 1px #F6F6F6; float:left; padding-top:8px; float:left; margin-left:3px;}
			.widget-header .logo {float:left; width:38px; height:38px; background-image:url('/images/dashboard/anayltcs_header_icons.png');}
				.widget-header .logo.sessions {background-position:-38px;}
				.widget-header .logo.frequency {background-position:-76px;}
				.widget-header .logo.countries {background-position:-114px;}
				.widget-header .logo.devices {background-position:-152px;}
				.widget-header .logo.carriers {background-position:-190px;}
				.widget-header .logo.loyalty {background-position:-228px;}
				.widget-header .logo.app-versions {background-position:-266px;}
				.widget-header .logo.platforms {background-position:-304px;}
				
	.widget-footer {text-align:right; min-height:10px; color:#666; text-shadow:0 1px #fff; font-size:11px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border:1px solid #C2C2C2; border-top:none; background-color:#FFF; box-shadow:inset 0 1px 0 #FFF; overflow:hidden;}
	.widget-content {background-color:#FFF; border:1px solid #A1A1A1; border-top-color:#B8B9B9;}

	#big-numbers-container {overflow:hidden; position:relative;}
	#big-numbers-container.dashboard {border:1px solid #C2C2C2; border-top-color:#B8B9B9; border-bottom:none; padding-bottom:8px; }
		.big-numbers {float:left; position:relative;}
		.widget-footer .big-numbers:first-child .inner {border-bottom-left-radius:7px;}
		.widget-footer .big-numbers:last-child .inner {border-bottom-right-radius:7px;}
		.big-numbers .inner {border-left:1px solid #C9C9C9; border-bottom:1px solid #A1A1A1; background-color:#F9F9F9; height:180px; text-align:center;}
			.widget-content .big-numbers .inner {height:190px; cursor:pointer;}
			.widget-footer .big-numbers .inner {height:100px; border-bottom:none; background-color:#f4f4f4;}
			.big-numbers.active .inner{background-color:#FFF;}
			.big-numbers:first-child .inner{border-left:none;}
			.big-numbers:last-child {position:absolute; right:0; border-left:none;}
		.big-numbers .select {padding-top:7px; font:13px 'Ubuntu'; color:#5B5B5B; text-shadow:0px 1px #FFF; position:absolute; height:23px; width:100%; background-color:#D6D6D6; background-image: linear-gradient(top, #E1E1E1 20%, #D6D6D6 100%); box-shadow:inset 0 1px 0 #F6F6F6;}
			.big-numbers .select .title {max-width:156px; overflow: hidden; text-overflow: ellipsis; margin:0 auto; white-space:nowrap;}
			.widget-content .big-numbers .select {bottom:1px; border-top:1px solid #A1A2A2; cursor:pointer; }
			.widget-footer .big-numbers .select {top:0px; border-bottom:1px solid #A1A2A2; position:relative;}
			.widget-content .big-numbers .select:hover,
			.widget-content .big-numbers:hover .select {background-color:#E0E0E0; background-image: linear-gradient(top, #EEEEEE 40%, #E0E0E0 100%);}
			.big-numbers.active .select:hover, 
			.big-numbers.active:hover .select {background-color:#2B2B2B; background-image: linear-gradient(top, #484848 20%, #2B2B2B 100%);} 
			.big-numbers.active .select{color:#EEE; text-shadow:0px -1px #333; background-color:#2B2B2B; background-image: linear-gradient(top, #484848 20%, #2B2B2B 100%); box-shadow:inset 0 1px 0 #5E5E5E; border-top-color:#404040; border-bottom:1px solid #616161; bottom:0px;}
		.big-numbers .inner .logo {background-image:url('/images/dashboard/dashboard_icons.png'); width:60px; height:60px; margin:0 auto;}
			.big-numbers:nth-child(1) .inner .logo {background-position:-55px;}
			.big-numbers:nth-child(1).active .logo {background-position:5px;}
			.big-numbers:nth-child(2) .inner .logo {background-position:-175px;}
			.big-numbers:nth-child(2).active .logo {background-position:-115px;}
			.big-numbers:nth-child(3) .inner .logo {background-position:-295px;}
			.big-numbers:nth-child(3).active .logo {background-position:-235px;}
			.big-numbers:nth-child(4) .inner .logo {background-position:-535px;}
			.big-numbers:nth-child(4).active .logo {background-position:-475px;}
			.big-numbers:nth-child(5) .inner .logo {background-position:-655px;}
			.big-numbers:nth-child(5).active .logo {background-position:-595px;}	
			.big-numbers:nth-child(6) .inner .logo {background-position:-415px;}
			.big-numbers:nth-child(6).active .logo {background-position:-355px;}
		.big-numbers .number{font:38px 'AlternateGothicNo2BT-Regular'; color:#666; text-shadow:0px 1px #FFF; }
			.widget-content .big-numbers .number {margin-top:1px;}
			.widget-footer .big-numbers .number {margin-top:7px;}
			.big-numbers.active .number{color:#333; text-shadow:0px 1px #FFF;}
		.big-numbers  .arrow {display:none; background-image:url('/images/dashboard/dashboard-arrow.png'); width:18px; height:8px; position:absolute; left:50%; z-index:2; margin-left:-9px; bottom:-6px;}
		.big-numbers.active .arrow {display:block;}
		.big-numbers .spark {margin-top:11px;}
		.big-numbers .color { height:5px; }
				.big-numbers:nth-child(1) .color { background-color:#88BBC8; }
				.big-numbers:nth-child(2) .color { background-color:#ED8662; }
				.big-numbers:nth-child(3) .color {background-color:#BEEB9F; }
				
		.widget-content .big-numbers .trend{width:12px; height:9px; right:7%; top:11px; position:absolute;}
		.widget-footer .big-numbers .trend{width:12px; height:9px; right:20px; top:62px; position:absolute;}
		.widget-content .big-numbers .change{right:15px; white-space:nowrap; top:-1px; position:absolute; font:10px 'Ubuntu'; color:#999; text-shadow:0 1px #FFF; }
			.big-numbers.active .change {color:#333;}
			
		.map-list {background-color:#FFF; height:323px; border:1px solid #A2A2A2;}
			#geo-chart {text-align:center; padding-top:20px;}
			#geo-chart>div {margin:0 auto;}
			#geo-chart-outer {background-image:url('/images/dashboard/map_dotted_bg.png');}
			.map-list #geo-chart-outer {border-radius:7px;}
			#map-list-right {border-top-right-radius:0px; border-bottom-right-radius:0px; width:240px; float:right;  height:100%; margin-top: 40px; margin-right: 42px;}
			.map-list-item {overflow:hidden; padding:4px 12px;}
			.map-list-item:hover {}
			.map-list-item:last-child {border-bottom:none;}
			.flag {float:left; width:16px; height:11px; border-radius:2px; box-shadow:0 0 1px 0 #333; margin-top:5px; margin-right:10px; background-image:url('/images/flags/tr.png');}
			.map-list-item .flag { margin-top:8px; }
			.map-list-item:hover .flag {}
			.map-list-item .total{float:right; color:#646464; text-shadow:0px 1px #FFF; font:22px 'AlternateGothicNo2BT-Regular'; margin-right:10px;}
			.map-list .country-name {width:130px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; float:left; padding-top:4px; color:#646464; text-shadow:0px 1px #FFF; font:16px 'Ubuntu';}
			.map-list .bar {float:left; margin-left:10px; height:15px; margin-top:2px; background-color:#333; }
				
		.graph {font:19px 'Ubuntu'; z-index:1;}
		.graph table tr:nth-child(n+10){ display:none; }
		#graph-tooltip{border: 1px solid #1B1B1C; box-shadow:0 1px 1px 0 #B0B0B0; box-shadow:inset 0 1px 0 #727475; background-color:#383B3C; background-image: linear-gradient(top, #3947320 30%, #383B3C 100%); padding:2px 8px; border-radius:3px; background-color:#3C3F40; opacity:0.80; color:#FFF; font:14px 'AlternateGothicNo2BT-Regular'; display:none; position:absolute; z-index:100;}
		.pie-chart-container { float:left; width:50%; position:relative; }
			.pie-chart-container .graph-segment-container { position:absolute; left:3px; top:10px; z-index:3; }
		.pie-overlay {position:absolute; z-index:2; width:248px; height:248px; left:50%; margin-left:-119px; top:56px; background-image:url('/images/dashboard/total-user.png'); background-position:center; background-repeat:no-repeat;}
		.pie-overlay  .title {font:18px 'AlternateGothicNo2BT-Regular'; color:#7D7D7D; text-shadow:0 -1px #070707; margin:0 auto; text-align:center; margin-top:143px; max-width:100px; line-height:17px;}
		.pie-overlay.one {background-image:url('/images/dashboard/total-user.png');}
		.pie-overlay.two {background-image:url('/images/dashboard/new-users.png');}
		.pie-overlay.one.platforms {background-image:url('/images/dashboard/platforms.png');}
		.pie-overlay.two.platforms {background-image:url('/images/dashboard/platform-versions.png');}
		.pieLabel div{font-size:11px !important;}
/* DASHBOARD END */


.box
{
	margin-bottom: 15px;
}
.box > .heading
{
	height: 38px;
	padding-left: 7px;
	padding-right: 7px;
	border: 1px solid #DBDBDB;
	background: url('../images/box.png') repeat-x;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.box > .heading h1
{
	margin: 0px;
	padding: 11px 0px 0px 0px;
	color: #003A88;
	font-size: 16px;
	float: left;
}
.box > .heading h1 img
{
	float: left;
	margin-top: -1px;
	margin-left: 3px;
	margin-right: 8px;
}
.box > .heading .buttons
{
	float: right;
	padding-top: 7px;
}
.box > .heading .buttons .button
{
	margin-right: 10px;
}
.box > .content
{
	padding: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	min-height: 300px;
	overflow: auto;
}
.dashboard-heading
{
	background: #547C96;
	color: #FFF;
	border-bottom: 1px solid #8EAEC3;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
}
.dashboard-content
{
	background: #FCFCFC;
	border: 1px solid #8EAEC3;
	padding: 10px;
	min-height: 200px;
}
.overview
{
	float: left;
	width: 49%;
	margin-bottom: 20px;
}
.overview table
{
	width: 100%;
}
.overview td + td
{
	text-align: right;
}
.statistic
{
	float: right;
	width: 49%;
	margin-bottom: 20px;
}