table#vehicles_table.dataTable.table.table-striped.table-bordered(cellpadding="0", cellspacing="0", border="0")
	thead
		tr
			th Vehicle Number
			th Device ID
			th Driver
			th Time
			th Speed KM/H
			th Voltage
			th Location
			th Compnay
	tbody
		tr
			td WHV0128
			td 354783000153402
			td Dharma
			td 2013-01-10 19:12:34
			td 86
			td 12
			td KLCC
			td Sunlight Taxi
		tr
			td WHV0129
			td 354783000153401
			td Jone
			td 2013-01-10 19:18:34
			td 97
			td 12
			td Bukit Bingtang
			td Sunlight Taxi
		tr
			td WHV0130
			td 354783000153403
			td Tome
			td 2013-01-11 11:12:34
			td 56
			td 12
			td Cyber Jaya
			td Sunlight Taxi
		tr
			td WHV0131
			td 354783000153405
			td James
			td 2013-01-11 19:12:34
			td 62
			td 12
			td KLIA
			td Sunlight Taxi
		tr
			td WHV0132
			td 354783000153406
			td Dharma
			td 2013-01-10 19:12:34
			td 86
			td 12
			td KLCC
			td Sunlight Taxi
		tr
			td WHV0133
			td 354783000153407
			td Jone
			td 2013-01-10 19:18:34
			td 97
			td 12
			td Bukit Bingtang
			td Sunlight Taxi
		tr
			td WHV0134
			td 354783000153408
			td Tome
			td 2013-01-11 11:12:34
			td 56
			td 12
			td Cyber Jaya
			td Sunlight Taxi
		tr
			td WHV0135
			td 354783000153409
			td James
			td 2013-01-11 19:12:34
			td 62
			td 12
			td KLIA
			td Sunlight Taxi
		tr
			td WHV0136
			td 354783000153410
			td Dharma
			td 2013-01-10 19:12:34
			td 86
			td 12
			td KLCC
			td Sunlight Taxi
		tr
			td WHV0137
			td 354783000153411
			td Jone
			td 2013-01-10 19:18:34
			td 97
			td 12
			td Bukit Bingtang
			td Sunlight Taxi
		tr
			td WHV0138
			td 354783000153412
			td Tome
			td 2013-01-11 11:12:34
			td 56
			td 12
			td Cyber Jaya
			td Sunlight Taxi
		tr
			td WHV0139
			td 354783000153413
			td James
			td 2013-01-11 19:12:34
			td 62
			td 12
			td KLIA
			td Sunlight Taxi