table#vehicles_table.dataTable
	thead
		tr
			th Vehicle Number
			th Driver
			th Time
			th Speed KM/H
			th Location
			th Compnay
	tbody
		tr
			td WHV0128
			td Dharma
			td 2013-01-10 19:12:34
			td 86
			td KLCC
			td Sunlight Taxi
		tr
			td WHV0129
			td Jone
			td 2013-01-10 19:18:34
			td 97
			td Bukit Bingtang
			td Sunlight Taxi
		tr
			td WHV0130
			td Tome
			td 2013-01-11 11:12:34
			td 56
			td Cyber Jaya
			td Sunlight Taxi
		tr
			td WHV0128
			td James
			td 2013-01-11 19:12:34
			td 62
			td KLIA
			td Sunlight Taxi